{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "commonjs": true,
        "es2020": true
    },
    "parserOptions": {
        "ecmaVersion": 11
    },
    "overrides": [
        {
            "files": "**/*.spec.js",
            "plugins": [
                "ava"
            ],
            "extends": "plugin:ava/recommended"
        }
    ]
}
